@charset "utf-8";
/* CSS Document */

#body{
    background-color:black;
}

img header{
    width:1000px;
    height:200px;
}

#secao{
    width:1000px;
    height:800px;
    display:flex.
}

#content{
    width:1000px;
    height:800px;
}

#miolo {
    width:1000px;
    height:800px;
}

#lado{
    width:1000px;
    height:800px;
}