@charset "utf-8";
/* CSS Document */

#bg{
    width:1350px;
    background-color:black;
}

#banner{
    width:1350px;
    height:200px;
    background-image:"imgs/banner.jpg";
}

#centro{
    width:1350px;
    padding-top:-200px;
    margin:auto;
    overflow:hidden;
}

.centro{
    padding-top:-200px; 
    margin:auto;
}

#main{
    width:1350px;
    height:365px;
    overflow:hidden;
    background-color:black;
}

#secao{
    width:1350px;
    height:100%;
    display:flex.
    background-color:black;
}

#content{
    width:25%;
    height:100%;
    color:white;
    float:left;    
    background-color:black;
}

#miolo {
    width:50%;
    height:100%;
    color:white;
    float:left;
    background-color:black;
}

#lado{
    width:25%px;
    height:100%;
    color:white;
    background-color:black;
}

#rodape{
    width:100%;
    height:20%;
    color:white;
    background-color:black;
}